#card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  min-height: 90vh;
  background: white;
  -webkit-perspective: 900;
  margin-left: auto;
  margin-right: auto;
}

#card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: 90%;
  background: white;
  box-shadow: 0 20px 20px rgb(0, 0, 0, 0.1);
  padding: 20px;
  gap: 20px;
  transform-style: preserve-3d;
}

#card .product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#card .product-image {
  width: 200px;
  z-index: 2;
}

#card .product-image-circle-bg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

#card .product-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

#card .product-title {
  font-weight: 700;
  font-size: 50px;
}

#card .product-description {
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 8px;
}

#card .product-size-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 8px;
}

#card .product-size-container #product-size {
  border: none;
  outline: none;
  background: white;
  color: #585858;
  box-shadow: 0 0px 3px rgb(0, 0, 0, 0.1),
              0 3px 3px rgb(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
}

#card .purchase-btn {
  border: none;
  outline: none;
  background: #f3413c;
  color: white;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #card-container {
    width: 100%;
  }

  #card {
    width: 100%;
  }
}
