#products-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.product-container {
  width: 300px;
  height: 400px;
  background: white;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.product-container:hover {
  transform: scale(1.1);
}

.product-container:hover #image-container {
  height: 100%;
}

.product-container #title {
  font-weight: 700;
  font-size: 250%;
  color: black;
  text-align: center;
  margin: 5px;
}

.product-container #image-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container #image-container #image {
  width: 80%;
}

@media only screen and (max-width: 800px) {
  #products-container {
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  .product-container {
    width: 100%;
    height: 700px;
  }

  .product-container:hover {
    transform: scale(1);
  }

  .product-container:hover #image-container {
    height: 50%;
  }

}
