:root {
  --main-color: #f44d43;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-color);
  color: white;
  margin-top: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  z-index: 999;
}

header #logo {
  font-weight: 700;
  font-size: 60px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

header nav .link {
  color: white;
  font-weight: 300;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
}

header nav .link:hover {
  color: var(--main-color);
  font-weight: 500;
  background: white;
}

header #laptop-navbar {
  display: flex;
}

header #mobile-navbar {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 99;
  background: var(--main-color);
  flex-direction: column;
  overflow: hidden;
}

header #mobile-navbar .link {
  width: 100%;
  border-radius: 0;
}

header #mobile-navbar .link:active {
  color: var(--main-color);
  font-weight: 500;
  background: white;
}

header #mobile-navbar .link:active {
  color: white;
  font-weight: 300;
  background: transparent;
}

header #mobile-navbar-toggle {
  display: none;
  position: absolute;
  left: 20px;
}

header .hide-mobile-navbar {
  animation: 1s slideUp ease forwards !important;
}

@keyframes slideUp {
  to {
    transform: translate(0, -100%);
    opacity: 0;
    pointer-events:  none;
  }
}

@keyframes slideDown {
  to {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: all;
  }
}

@media only screen and (max-width: 800px) {
  header {
    justify-content: center;
  }

  header #laptop-navbar {
    display: none;

  }

  header #mobile-navbar {
    display: flex;
    justify-self: flex-start;
  }

  header #mobile-navbar-toggle {
    display: block;
  }
}
