* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #f44d43;
  color: white;
  margin-top: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

header #logo {
  font-weight: 700;
  font-size: 60px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

header nav .link {
  color: white;
  font-weight: 300;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
}

header nav .link:hover {
  color: #f44d43;
  font-weight: 500;
  background: white;
}

@media only screen and (max-width: 800px) {
  header {
    justify-content: center;
  }

  header nav {
    display: none;
  }
}
